@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

.grid {
  display: grid;
  justify-items: center;
}

.flex {
  display: flex;
}

.jcc {
  justify-content: center;
}

.aic {
  align-items: center;
}
html {
  background-color: #5a5e75b5;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.input-container {
  align-items: center;
  justify-items: start;
  background-color: #1a1c35;
  padding: 100px 10px 20px 10px;
  border-radius: 6px 6px 0 0;
  grid-template-columns: 200px 1fr;
  grid-template-rows: repeat(4, 50px);
  margin-bottom: 10px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.header {
  font-size: 48px;
  padding: 30px 0 20px 0;
  color: #efefef;
}

label {
  color: #efefef;
  background: linear-gradient(to right, #ff5e0079, #ed7e2c);
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 20px;
  font-weight: 800;
}

.input-title {
  border: 1px solid gray;
  width: 90%;
  height: 35px;
  font-size: 16px;
  border-radius: 4px;
}

.input-task {
  border: 1px solid gray;
  width: 90%;
  height: 45px;
  font-size: 16px;
  border-radius: 4px;
}
.input-task:focus,
.input-title:focus {
  outline: none;
}

.input-date {
  border: 1px solid gray;
  font-size: 16px;
  border-radius: 4px;
  width: 90%;
  height: 35px;
}

.btn-submit {
  border: none;
  background-color: transparent;
  margin-top: 15px;
  margin-right: 10%;
  border-radius: 50%;
  justify-self: center;
  grid-column: 2;
}

.icon-plus {
  background: linear-gradient(to right, #ff5e0079, #ed7e2c);
  color: #fff;
  padding: 15px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.icon-plus:hover {
  background-color: #ed7e2c;
  transform: scale(1.1);
}

/* TASKS */

.task-container {
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  background-color: #1a1c35d2;
  backdrop-filter: blur(9px);
  color: #efefef;
  margin-bottom: 3px;
  padding: 15px;
  border-radius: 8px;
  font-size: 18px;
  transition: 0.3s;
  cursor: pointer;
  border: 1.5px solid transparent;
}

.task-container:hover {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  transform: scale(1.03);
  border: 1.5px solid #ed7e2c;
  margin-bottom: 6px;
}

.task-radio-container {
  gap: 10px;
}

.btn-task-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: end;
  align-items: end;
}

.icon-edit {
  margin-left: 5px;
  padding: 5px 20px;
  border-radius: 4px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.086);
  grid-row: -2;
  border: 1px solid transparent;
  transition: 0.5s;

  border: 1px solid transparent;
}

.icon-edit:hover {
  border: 1px solid rgb(103, 230, 103);
}

.icon-delete {
  margin-left: 5px;
  padding: 5px 20px;
  border-radius: 4px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.086);
  align-self: flex-end;
  grid-row: 3;
  border: 1px solid transparent;
  transition: 0.5s;
}

.icon-delete:hover {
  border: 1px solid red;
}

.check {
  align-self: flex-start;
  width: 20px;
  height: 20px;
}

.t-title,
.t-task {
  margin-bottom: 20px;
}

.t-title {
  font-size: 20px;
}

/* MEDIAS */

@media (max-width: 1250px) {
  .input-container {
    padding: 10px;
    grid-template-columns: 200px 1fr;
    grid-template-rows: repeat(4, 50px);
  }

  label {
    font-size: 16px;
  }

  .btn-add {
    padding: 14px 30px;
    font-size: 16px;
  }

  .header {
    font-size: 34px;
  }

  .btn-add {
    padding: 10px 20px;
    font-size: 16px;
  }

  .task-container {
    font-size: 16px;
  }

  .task-container {
    font-size: 16px;
  }
  .btn-edit {
    grid-row: 2;
    grid-column: 2;
    justify-self: start;
  }

  .btn-delete {
    grid-row: 3;
    grid-column: 2;
    margin-top: 5px;
  }
}

@media (max-width: 990px) {
  .input-container {
    padding: 10px;

    grid-template-columns: 200px 1fr;
    grid-template-rows: repeat(4, 50px);
  }

  label {
    font-size: 16px;
  }

  .btn-add {
    padding: 14px 30px;
    font-size: 16px;
  }

  .header {
    font-size: 34px;
  }

  .btn-add {
    padding: 10px 20px;
    font-size: 16px;
  }

  .task-container {
    font-size: 16px;
  }

  .task-container {
    font-size: 16px;
  }
  .btn-edit {
    grid-row: 2;
    grid-column: 2;
    justify-self: start;
  }

  .btn-delete {
    grid-row: 3;
    grid-column: 2;
    margin-top: 5px;
  }
}

@media (max-width: 770px) {
  .input-container {
    padding: 10px;

    grid-template-columns: 150px 1fr;
    grid-template-rows: repeat(4, 50px);
  }

  label {
    font-size: 16px;
  }

  .btn-add {
    padding: 14px 30px;
    font-size: 16px;
  }

  .header {
    font-size: 28px;
  }

  .btn-add {
    padding: 10px 20px;
    font-size: 16px;
  }

  .task-container {
    font-size: 16px;
  }
  .btn-edit {
    grid-row: 2;
    grid-column: 2;
    justify-self: start;
  }

  .btn-delete {
    grid-row: 3;
    grid-column: 2;
    margin-top: 5px;
  }
}

@media (max-width: 570px) {
  .input-container {
    padding: 0;
    grid-template-columns: 120px 1fr;
    grid-template-rows: repeat(4, 50px);
  }

  label {
    font-size: 14px;
  }

  .btn-add {
    padding: 7px 16px;
    font-size: 16px;
  }

  .header {
    font-size: 28px;
  }

  .task-container {
    font-size: 16px;
  }
  .btn-edit {
    grid-row: 2;
    grid-column: 2;
    justify-self: start;
  }

  .btn-delete {
    grid-row: 3;
    grid-column: 2;
    margin-top: 5px;
  }
}

@media (max-width: 445px) {
  .input-container {
    padding: 5px;
    grid-template-columns: 100px 1fr;
    grid-template-rows: repeat(4, 50px);
  }

  label {
    font-size: 10px;
  }

  .btn-add {
    padding: 5px 10px;
    font-size: 14px;
  }

  .header {
    font-size: 28px;
  }

  .App {
    overflow: hidden;
  }

  .task-container {
    font-size: 14px;
  }
  .btn-edit {
    grid-row: 2;
    grid-column: 2;
    justify-self: start;
    padding: 8px 16px;
  }

  .btn-delete {
    grid-row: 3;
    grid-column: 2;
    margin-top: 5px;
    padding: 8px 16px;
  }

  .t-title,
  .t-task {
    margin-bottom: 5px;
  }
  .t-title {
    font-size: 20px;
  }
}
