@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

.grid {
  display: grid;
  justify-items: center;
}

.flex {
  display: flex;
}

.jcc {
  justify-content: center;
}

.aic {
  align-items: center;
}
.App {
  height: 100vh;
  background-color: rgba(128, 128, 128, 0.13);
}

.container {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.input-container {
  justify-items: start;
  background-color: rgba(255, 255, 255, 0.802);
  padding: 100px 10px 20px 10px;
  border-radius: 4px 4px 0 0;
  grid-template-columns: 1fr, 1fr;
}

.header {
  font-size: 48px;
  margin-bottom: 50px;
  padding-top: 50px;
}

.input-title {
  border: 1px solid gray;
  width: 500px;
  height: 35px;
  margin-bottom: 10px;
  font-size: 16px;
  border-radius: 4px;
}

.input-task {
  border: 1px solid gray;
  width: 800px;
  height: 45px;
  margin-bottom: 10px;
  font-size: 16px;
  border-radius: 4px;
}
.input-task:focus,
.input-title:focus {
  outline: none;
}

.input-date {
  border: 1px solid gray;
  margin: 0 0 30px 10px;
  font-size: 16px;
  border-radius: 4px;
}

.input-title,
.input-task,
.input-date {
  justify-self: center;
}
.btn-add {
  border: none;
  background-color: rgba(2, 112, 190, 0.874);
  color: #fff;
  padding: 14px 30px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 3px;
  justify-self: center;
}

.btn-add:hover {
  background-color: rgb(2, 112, 190);
}

/* TASKS */

.task-container {
  width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  background-color: rgb(67, 67, 144);
  color: #fff;
  margin-bottom: 2px;
  padding: 5px;

  font-size: 18px;
}

.task-radio-container {
  gap: 10px;
}

.btn-task-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: end;
  align-items: end;
}

.btn-delete {
  border: none;
  margin-left: 5px;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  background-color: rgba(242, 94, 78, 0.869);
  align-self: flex-end;
  grid-row: 3;
}

.btn-delete:hover {
  background-color: rgb(242, 95, 78);
}

.btn-edit {
  border: none;
  margin-left: 5px;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  background-color: rgba(34, 202, 143, 0.833);
  grid-row: -2;
}

.btn-edit:hover {
  background-color: rgb(34, 202, 143);
}

.check {
  align-self: flex-start;
  width: 20px;
  height: 20px;
}

.t-title,
.t-task {
  margin-bottom: 20px;
}

.t-title {
  font-size: 20px;
}
