@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

.grid {
  display: grid;
  justify-items: center;
}

.flex {
  display: flex;
}

.jcc {
  justify-content: center;
}

.aic {
  align-items: center;
}

body {
  background-color: #1f2937;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.input-container {
  align-items: center;
  justify-items: center;
  background-color: #1a1c35;
  background-image: url("./images/landscape-bgc.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 100px 10px 20px 10px;
  border-radius: 6px 6px 0 0;
  grid-template-columns: 100px 1fr;
  grid-template-rows: repeat(3, 50px);
  margin-bottom: 10px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  min-height: 230px;
}

.header {
  font-size: 48px;
  padding: 30px 0 20px 0;
  color: #efefef;
}

label {
  color: #efefef;
  backdrop-filter: blur(100px);
  background-color: #00000059;
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 20px;
  font-weight: 800;
  justify-self: start;
}

.input-title {
  border: 1px solid #808080;
  width: 90%;
  height: 35px;
  font-size: 16px;
  border-radius: 4px;
}

.input-task {
  border: 1px solid #808080;
  width: 90%;
  height: 45px;
  font-size: 16px;
  border-radius: 4px;
  max-width: 90%;
}
.input-task:focus,
.input-title:focus {
  outline: none;
}

.input-date {
  border: 1px solid #808080;
  font-size: 16px;
  border-radius: 4px;
  width: 90%;
  height: 35px;
}

.btn-submit {
  border: none;
  background-color: transparent;
  margin-top: 15px;
  border-radius: 50%;
  justify-self: center;
  grid-column: 2;
}

.icon-plus {
  background: linear-gradient(to right, #ff5e0079, #ed7e2c);
  color: #fff;
  padding: 15px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.icon-plus:hover {
  background-color: #ed7e2c;
  transform: scale(1.1);
}

/* TASKS */

.task-container {
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  background-color: #1a1c352c;
  background-image: url("./images/landscape-bgc.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  color: #efefef;
  margin-bottom: 3px;
  padding: 15px;
  border-radius: 8px;
  font-size: 18px;
  transition: 0.3s;
  cursor: pointer;
  border: 1.5px solid transparent;
}

.task-container:hover {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  transform: scale(1.03);
  border: 1.5px solid #ed7e2c;
  margin-bottom: 6px;
}

.task-radio-container {
  gap: 10px;
}

.btn-task-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: end;
  align-items: end;
}

.icon-edit {
  margin-left: 5px;
  padding: 5px 20px;
  border-radius: 4px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.086);
  grid-row: -2;
  border: 1px solid transparent;
  transition: 0.5s;

  border: 1px solid transparent;
}

.icon-edit:hover {
  border: 1px solid rgb(103, 230, 103);
}

.icon-delete {
  margin-left: 5px;
  padding: 5px 20px;
  border-radius: 4px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.086);
  align-self: flex-end;
  grid-row: 3;
  border: 1px solid transparent;
  transition: 0.5s;
}

.icon-delete:hover {
  border: 1px solid #ff0000;
}

.check {
  align-self: flex-start;
  width: 20px;
  height: 20px;
}

.t-title,
.t-task {
  margin-bottom: 20px;
}

.t-title {
  font-size: 20px;
}

.t-date span {
  color: #ff0000;
}

/* MEDIAS */

@media (min-width: 320px) and (max-width: 480px) {
  .header {
    font-size: 24px;
  }

  label {
    font-size: 10px;
  }

  .input-container {
    grid-template-columns: 60px 1fr;
    margin: 0 10px 10px 10px;
    padding: 10px 10px 20px 10px;
  }

  .input-title,
  .input-task,
  .input-date {
    height: 30px;
  }

  .icon-plus {
    padding: 10px;
  }

  .task-container {
    padding: 5px;
    font-size: 12px;
    margin: 0 10px 3px 10px;
  }

  .t-title {
    font-size: 14px;
  }

  .t-task,
  .t-date {
    margin-bottom: 10px;
  }

  .icon-edit,
  .icon-delete {
    padding: 5px 10px;
    width: 40px;
  }

  .icon-plus:hover {
    transform: scale(1.05);
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .header {
    font-size: 26px;
  }

  label {
    font-size: 12px;
  }

  .input-container {
    grid-template-columns: 60px 1fr;
    margin: 0 10px 10px 10px;
    padding: 50px 10px 20px 10px;
  }

  .input-title,
  .input-task,
  .input-date {
    height: 30px;
  }

  .icon-plus {
    padding: 10px;
  }

  .task-container {
    padding: 5px;
    font-size: 14px;
    margin: 0 10px 3px 10px;
  }

  .t-title {
    font-size: 16px;
  }

  .t-task,
  .t-date {
    margin-bottom: 10px;
  }

  .icon-edit,
  .icon-delete {
    padding: 5px 10px;
    width: 45px;
  }

  .icon-plus:hover {
    transform: scale(1.05);
  }
}

@media (min-width: 769px) and (max-width: 990px) {
  .header {
    font-size: 32px;
  }

  label {
    font-size: 14px;
  }

  .input-container {
    grid-template-columns: 60px 1fr;
    margin: 0 10px 10px 10px;
    padding: 50px 10px 20px 10px;
  }

  .icon-plus {
    padding: 10px;
  }

  .task-container {
    padding: 5px;
    font-size: 16px;
    margin: 0 10px 3px 10px;
  }

  .t-title {
    font-size: 18px;
  }

  .t-task,
  .t-date {
    margin-bottom: 10px;
  }

  .icon-plus:hover {
    transform: scale(1.05);
  }
}

@media (min-width: 991px) and (max-width: 1250px) {
  .input-container {
    grid-template-columns: 60px 1fr;
    margin: 0 10px 10px 10px;
    padding: 50px 10px 20px 10px;
  }

  .task-container {
    padding: 5px;
    margin: 0 10px 3px 10px;
  }

  .icon-plus:hover {
    transform: scale(1.05);
  }
}
